<header id="ubicacion-referencia-logo">
  <!-- <img src="http://localhost:8080/images/cabecera08.png" /> -->
</header>
<!-- <header id="ubicacion-referencia">
  <img src="http://localhost:8080/img/fondo01.png" />
  <a id="ubicacion-header-logo">

    <button pButton icon="fa fa-chevron-circle-right"></button>
  </a>
  <a id="ubicacion-header">
    <span class="site-desc">Documento / Buscar Documento / {{nombreUsuario}}</span>
  </a>

</header> -->
<!-- <br> -->
<p-menubar [model]="items" [autoDisplay]="false">
  <div>
    <!-- <input type="text" pInputText placeholder="Search"> -->
    <p-button (click)="logout()" icon="fa fa-sign-out" label="Salir"></p-button>
  </div>
</p-menubar>
