*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
}
#padre{
    height: 100%;
    display: flex;
    /* deje espacio entre los costados y mis cartas */
    justify-content: space-around;
    align-items: center;
}
.carta{
    width: 600px;
    height: 500px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;  
    /* sus hijos sean c. */
}
.arriba, .abajo{
    /* vana a ser iguales relacion de 1 a 1 */
    flex-grow: 1;
    /* hacemos que no se encoja con el valor 0 */
    flex-shrink: 0;
    /* le da un tamaño inicial */
    flex-basis: 50%;
}
.abajo{
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.abajo p{
    margin-top: 15px;
    font-size: 16px;
    text-align: justify;
}
.arriba{
    background-image: url('http://lorempixel.com/300/300');
}
input{
    /* carta mide 300px
    20 padd enton 40
    ancho es d 150
    entre 2 */
    margin: 5px 55px 0 55px;
    width: 150px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    padding:5px;
    background-color: rgb(64, 64, 175);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}