body{
    background-color: #666666;
}
ul{
    /* quita la viñeta */
    list-style: none; 
    background-color: #cccccc;
    color: #444444;

}
li{
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
}
li:hover{
    background-color: #444444;
    color: #cccccc;
}