<div class="loading-indicator" *ngIf="ProgressSpinnerDlg">
<p-progressSpinner></p-progressSpinner>
</div>

<p-growl [(value)]="msgs"></p-growl>

<header id="ubicacion-referencia">
  <a id="ubicacion-header-logo">
    <button pButton icon="fa fa-chevron-circle-right"></button>
  </a>
  <a id="ubicacion-header">
    <span class="site-desc">Administración / Tipo Evento /</span>
  </a>
</header>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-2">
          <p-dropdown [options]="tipoFiltro" [(ngModel)]="tipoFiltroSelected" autoWidth="false" optionLabel="nombre" [style]="{'width':'100%'}"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-2">
          <input pInputText type="text" type="text" [pKeyFilter]="blockSpecial" style="width:100%"  placeholder="Escribir Filtro"/>
      </div>
      <div class="ui-g-12 ui-lg-2">
          <button pButton type="button" (click)="buscarTipoEvento()" icon="fa fa-search" label="Buscar" style="width:100%"></button>
      </div>
    </div>

<p-messages [(value)]="msgsBusqueda"></p-messages>

<p-table [columns]="colsTipoEvento" [value]="tipoEventoDtos" selectionMode="single" [resizableColumns]="true" columnResizeMode="expand" [paginator]="true" rows="10" [lazy]="true" (onLazyLoad)="loadLeaveLazyTipoEvento($event)" [totalRecords]="totalRecordsTipoEvento"
  [loading]="loading" [responsive]="true">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width:3em">Nro</th>
      <th *ngFor="let col of columns" pResizableColumn [ngStyle]="{'width': col.width}">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td>
        {{i + 1}}
      </td>
      <td *ngFor="let col of columns">
        {{rowData[col.field]}}
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary" let-rowData>
    <div style="text-align:left">
      <!-- <button type="button" pButton icon="fa fa-arrow-circle-left" (click)="mostrarPaginaAnterior()" label="Atras"></button> -->
      <button type="button" pButton icon="fa fa-plus-circle" (click)="agregarTipoEvento()" label="Agregar Tipo Evento" style="width:100%"></button>
    </div>
  </ng-template>
</p-table>


<div class="ui-fluid">
  <div class="ui-g">
    <p-dialog header="Tipo Evento - Nuevo" [(visible)]="displayNuevaTipoEvento" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '80%'}" >
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-3">Codigo</div>
        <div class="ui-g-12 ui-md-6 ui-lg-3">
          <input pInputText type="text" [(ngModel)]="tipoEventoDto.codigo"/>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-3">
          Tipo Evento
        </div>
        <div class="ui-g-9">
          <input pInputText type="text" [(ngModel)]="tipoEventoDto.nombre"/>
        </div>
      </div>
      <br>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
          <button type="button" pButton icon="fa fa-sign-out" (click)="cerrarDisplayTipoEvento()" label="Salir"></button>
          <button type="button" pButton icon="fa fa-floppy-o" (click)="guardarTipoEvento()" label="Guardar"></button>
        </div>
      </p-footer>
    </p-dialog>
  </div>
</div>
